body
{
    font-family:Arial, Helvetica, sans-serif;
    background:
          linear-gradient(135deg, hsla(172.96, 97.54%, 45.7%, 1) 0%, hsla(172.96, 97.54%, 45.7%, 0) 70%),
          linear-gradient(25deg, hsla(136.29, 90.21%, 44.06%, 1) 10%, hsla(136.29, 90.21%, 44.06%, 0) 80%),
          linear-gradient(315deg, hsla(37.83, 94.1%, 46.77%, 1) 15%, hsla(37.83, 94.1%, 46.77%, 0) 80%),
          linear-gradient(245deg, hsla(303.81, 98.11%, 48.3%, 1) 100%, hsla(303.81, 98.11%, 48.3%, 0) 70%);
}
hr{
    
    background-color:black;
    width: 55%;
    display:block;
    float:left;
    margin-left:5px;
}
#tartalom {
    width:75%;
    padding:8px;
    background-color:white;
    margin:auto;
}
h1 {
    margin:10px;
}
p{ margin-bottom: 5px;
   line-height: 20px;
   text-align: justify;
}
#en{
    
   height:160px;
   width: 159px;
   float: right;
}
#sor{
    text-align: left;
    line-height: 25px;
}
#tiki{
     float: left;
}
#suti{
    float: left;
}
#mat{

    float: right;
}

#pin{
    height: 200px;
    width: 200px;
    float: right;
}
.kép{
    width: 25%;
    height: 200px;
     display: block;     
}
.jobbra{
    float: right;
}
#pinyo{
    float: right;
}

img{
    border-radius: 15px;
}
