#bevezeto {
    font-style: italic;
    font-size: 18pt;
    text-align: justify;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 3%;
    font-size: 12pt;
    color: darkred;
    background:
          linear-gradient(135deg, hsla(172.96, 97.54%, 45.7%, 1) 0%, hsla(172.96, 97.54%, 45.7%, 0) 70%),
          linear-gradient(25deg, hsla(136.29, 90.21%, 44.06%, 1) 10%, hsla(136.29, 90.21%, 44.06%, 0) 80%),
          linear-gradient(315deg, hsla(37.83, 94.1%, 46.77%, 1) 15%, hsla(37.83, 94.1%, 46.77%, 0) 80%),
          linear-gradient(245deg, hsla(303.81, 98.11%, 48.3%, 1) 100%, hsla(303.81, 98.11%, 48.3%, 0) 70%);
}

h1 {
    font-weight: bold;
    text-align: center;
    color: crimson;
}

#minden {
    background-color: cadetblue;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.486) 20px 12.5px;
}

#neu {
    align-self: center;
    width: 100%;
}

hr {
    size: 73.5%;
}

#tablo {
    float: right;
    margin: 10px;
    margin-top: 0px;
    width: 25%;
    height: 25%;
}

.hr1 {
    float: left;
    width: 73.5%;
}

hr {
    border-color: orange;
} 

h2 {
    color: crimson;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 5%;
    margin-top: 2%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

.nagycella {
    width: 200px;
    padding: 10px;
    border: 3px solid;
    border-collapse: collapse;
    border-color: orange;
    background-color: rgba(0, 0, 255, 0.384);
}

table {
    margin-left: 5%;
    margin-right: 5%;
    background-color: aquamarine;
    font-size: 16pt;
    border: 5px solid;
    border-color: orange;
    border-collapse: collapse;
    height: 50%;
    font-weight: bold;
    margin-bottom: 50px;
}

td {
    border: solid 2px orange;
    border-collapse: collapse;
    text-align: center;
    width: 30%;
}

#szinescella {
    background-color: cyan;
}

.borderless {
    border-top: none;
    border-bottom: none;
    font-size: 18pt;
}

#asd {
    font-size: 16pt;
    font-weight: bold;
    margin: 30px;
    text-align: justify;
}

.logo {
    height: 60px;
    margin-left: 15%;
}

#foot {
    background-color: aquamarine;
    padding: 3%;
    padding-left: 5%;
}